@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

:root {
  --purple: rgb(201, 82, 127);
  --hover-purple: rgb(188, 25, 125);
  --background-color: #f2d2ab;
  --light-brown: rgb(196, 174, 173);
  --darkest-grey: #5b5d6b;
  --font-brush: "Caveat Brush";
  --lightest-grey: #d2d4da;
  --light-grey: #b3b5bd;
  --dark-grey: #9496a1;
  /* color: #D2D4DA;
  color: #B3B5BD;
  color: #777986; */
}
header {
  /* background-color: rgb(244, 222, 222); */
  margin: 35px 30px;
}
header ul {
  display: flex;
  justify-content: space-between;
  /* column-gap: 13%; */
}

header a {
  color: var(--purple);
}
header a:hover {
  color: var(--hover-purple);
}
header li {
  font-family: "Caveat Brush";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
}

.button {
  color: var(--purple);
  background-color: var(--background-color);
  border: none;
  font-family: "Caveat Brush";
  font-size: 35px;
  border-radius: 8px;
}
.button:hover {
  color: var(--hover-purple);
}
header select {
  color: var(--purple);
  /* background-color: var(--background-color); */
  background-color: transparent;
  border: none;
  font-family: "Caveat Brush";
  font-size: 35px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
}
header select:hover {
  color: var(--hover-purple);
}

span i,
footer i {
  color: var(--purple);
  font-size: 50px;
  cursor: pointer;
}
span i:hover,
footer i:hover {
  color: var(--hover-purple);
}
.li-icon {
  display: flex;
  column-gap: 1%;
}
.fa-paw {
  font-size: 35px;
}
.too-hover:hover .fa-paw {
  color: var(--hover-purple);
}
.homie-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  background-color: var(--background-color);
}

.dalmatinelebi {
  width: 100vh;
  height: 100vh;
  background: url(../photos/dalmatinelebi2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25px;
  border-radius: 4px;
  opacity: 0.8;
  filter: grayscale(100%);
}
.dalmatinelebi:hover {
  animation: dogs 1.5s 1s linear forwards;
}
@keyframes dogs {
  to {
    margin-top: 75px;
    scale: 1.2;
    opacity: 1;
  }
}

/* adopt page */
.adopt-main {
  background-color: var(--background-color);
  /* background-color: rgb(244, 222, 222); */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
  margin-top: 140px;
}
.adopt-main section {
  width: 100vh;
  /* height: auto; */
  background-color: #f2d2ab;
  border: 2px solid var(--hover-purple);
  border-radius: 8px;
  display: flex;
  margin-top: 20px;
}

.infos1,
.infos2,
.infos3,
.infos4,
.infos5,
.infos6,
.infos7,
.infos8,
.infos9,
.infos10 {
  width: 100vh;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infos1 span,
.infos2 span,
.infos3 span,
.infos4 span,
.infos5 span,
.infos6 span,
.infos7 span,
.infos8 span,
.infos9 span,
.infos10 span {
  font-size: 40px;
  font-family: "Caveat Brush";
  color: var(--purple);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: 16px;
}
.infos1 li,
.infos2 li,
.infos3 li,
.infos4 li,
.infos5 li,
.infos6 li,
.infos7 li,
.infos8 li,
.infos9 li,
.infos10 li {
  font-size: 30px;
  font-family: "Caveat Brush";
  color: rgb(156, 148, 148);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.adopt1 {
  background: url(../photos/adopt1.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin: 20px;
}
.adopt2 {
  background: url(../photos/adopt2.PNG);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt3 {
  background: url(../photos/adopt3.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt4 {
  background: url(../photos/adopt4.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt5 {
  background: url(../photos/adopt5.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt6 {
  background: url(../photos/adopt6.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt7 {
  background: url(../photos/adopt7.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt8 {
  background: url(../photos/adopt8.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt9 {
  background: url(../photos/adopt9.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.adopt10 {
  background: url(../photos/adopt10.jpg);
  width: 100vh;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

/* firtspage */

.first-page-main {
  display: flex;
}
.first-page-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.first-page-container > div {
  width: 75%;
  font-family: "Caveat Brush";
  color: var(--purple);
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.first-page-container h1,
h2 {
  text-shadow: 2px 2px 2px var(--light-brown);
}
.first-page-container h2 {
  padding-left: 20px;
}
.first-page-photo {
  width: 50%;
  height: 500px;
  background: url(../photos/firstpage.PNG);
  background-position: top;
  background-size: 70%;
  background-repeat: no-repeat;
}
.form-dv {
  display: flex;
  flex-direction: column;
  font-family: var(--font-brush);
  font-size: 22px;
  color: var(--darkest-grey);
}
.form-dv > label {
  margin-bottom: 5px;
}

input {
  width: 200px;
  height: 40px;
  border: 2px solid #d2d4da;
  font-family: var(--lightest-grey);
  color: #d2d4da;
  font-size: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  padding-left: 5px;
  outline: none;
}
.login-dv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-btn,
.sign-up-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--light-grey);
  color: var(--darkest-grey);
  margin-bottom: 10px;
  font-size: 25px;
  font-family: var(--font-brush);
}
.login-dv a {
  color: var(--darkest-grey);
  margin-bottom: 25px;
  font-family: var(--font-brush);
  font-size: 18px;
}
.sign-up-dv {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.sign-up-dv p {
  color: var(--darkest-grey);
  font-family: var(--font-brush);
  font-size: 20px;
}
.sign-up-btn {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 25px;
  border-radius: 6px;
  background-color: var(--light-grey);
  color: var(--darkest-grey);
  margin-bottom: 10px;
  font-family: var(--font-brush);
}
.btn-dv {
  display: flex;
  text-align: center;
  column-gap: 40px;
  margin-top: 30px;
}
.btn-dv button {
  width: 200px;
  height: 50px;
}
.sign-up-with {
  text-align: center;
  font-family: var(--font-brush);
  font-size: 18px;
  color: var(--darkest-grey);
  margin-bottom: 8px;
}
.sign-up-logos {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.fa-square-facebook {
  color: #316ff6;
  background-color: transparent;
  font-size: 40px;
}
#loginFormContainer,
#signupFormContainer {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  width: auto;
  height: 335px;
}
.login-face-logo {
  font-family: var(--font-brush);
  font-size: 18px;
  color: var(--darkest-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

footer {
  background-color: rgb(244, 222, 222);
  padding: 30px;
}
.footer-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-footer h6,
.footer-footer h4 {
  font-family: var(--font-brush);
  font-size: 36px;
  color: var(--purple);
  margin-bottom: 12px;
}
.footer-footer a {
  color: var(--purple);
  font-family: var(--font-brush);
  font-size: 26px;
}
.footer-subscribe p {
  color: var(--purple);
  font-family: var(--font-brush);
  font-size: 36px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  color: var(--dark-grey);
  font-family: var(--font-brush);
  font-size: 20px;
}
.footer-form input {
  width: 320px;
  height: 50px;
  background-color: transparent;
}
.subscribe-btn {
  background-color: transparent;
  outline: none;
  border: none;
}
.footer-submit {
  display: flex;
  margin-top: 15px;
  column-gap: 10px;
}
.footer-logos {
  display: flex;
  justify-content: space-between;
}
.last-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: var(--light-grey);
  font-family: var(--font-brush);
  font-size: 18px;
}
.last-line ul {
  display: flex;
  column-gap: 10px;
}
.last-line a {
  color: var(--light-grey);
  font-family: var(--font-brush);
  font-size: 22px;
}
